.container{
    align-items: center;
    text-align: center;
    justify-items: center;
}

.form-bayar{
    padding: 5% 5% 30% 5%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    color: black;
    height: 400px;
    background: pink;

}


.form-bayar-input{
    margin: 10px;
    width: 300px;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
    &:hover{
        background-color: grey;
    }

}

input[type="number"]{
    width: 70px;
}

button:hover{

    cursor: pointer;
    transition: 1s;
    background-color: black;
    color: white;
}