
body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(to top, #8b0000 0%, #da8aad 100%);
    
    display: flex;
    justify-content: center;
    height: auto;
}

.container{
    display: flex;
    justify-content: center;
    width: 700px;
    
}

.form-bayar{
    margin-top: 30px;
    padding: 5% 5% 30% 5%;
    border-radius: 30px;
    align-items: center;
    text-align: center;
    width: 500px;
    color: black;
    height: 450px;
    background: pink;
    margin-bottom: 100px;
}


.form-bayar-input{
    margin: 10px;
    width: 350px;
    font-size: 18px;
    padding: 20px;
    border-radius: 30px;
    &:hover{
        transition: 1s;
        color: white;
        background-color:black;
    }

}

input[type="number"]{
    width: 70px;
}

button:hover{
    width: 400px;
    cursor: pointer;
    transition: 1s;
    background-color: black;
    color: white;
}

table{
    
    width: 400px;
    font-size: 25px;
    border-radius: 20px;
    border-color: black;
    border: 1px solid;
    height: 150px;
    background: white;
    color: black;
    margin: 50px;
    text-align: center;
    td{
        padding: 10px;
    }
}

h1{
    text-align: center;
}